.container {
  position: relative;
  max-width: 380px;
  margin: 1rem;
}

/* Firefox - scroolbar */
.gallery_wrapper {
  padding-bottom: 1rem;
  overflow-x: auto;
}

.gallery_wrapper::-webkit-scrollbar {
  height: .2rem;
}

/* Chrome, Edge, and Safari - scroolbar*/
.gallery_wrapper::-webkit-scrollbar-thumb {
  background-color: var(--laranja);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 18px;
}