.container {
  position: relative;
  max-width: 380px;
  margin: 1rem;
}

.gallery_wrapper {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery_wrapper::-webkit-scrollbar {
  display: none;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 18px;
}