.habilidades {
  background-color: var(--branco);
  text-align: center;
  padding: 1rem 0;
}

.hab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.hab__img {
  width: 60px;
  height: 60px;
}
