.habilidades {
  text-align: center;
}

.hab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(var(--fundo) 30%, var(--branco-escuro) 30%);
  padding-bottom: 2rem;
}

.hab__img {
  width: 60px;
  height: 60px;
}