.habilidades {
  background-color: var(--branco);
  text-align: center;
  padding: 1rem 0;
}

.hab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.hab__img {
  width: 60px;
  height: 60px;
  transition: .5s;
}

.descricao__fig {
  color: var(--sombra);
  font-weight: 700;
  font-size: 14px;
  margin-top: .5rem;
}

/* Versão Desktop (1024px) */
@media screen and (min-width: 1024px) {

  .hab__img {
    transition: .5s;
  }
  .hab__img:hover {
    scale: 1.2;
  }
}