.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fundo);
  padding: 1rem;
  position: sticky;
  left: 0%;
  top: 0%;
  z-index: 4;
}

.menu-hamburguer--abrir {
  content: url(../img/menu-burger-icone.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.menu-hamburguer--fechar {
  content: url(../img/x-icone-laranja.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.lista__menu-hamburguer {
  background-color: var(--laranja);
  opacity: 90%;
  height: 100%;
  width: 80vw;
  position: fixed;
  left: 0%;
  top: 8%;
  z-index: 3;
}

.lista__menu {
  display: none;
}

.lista__link-hamb {
  color: var(--sombra);
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem;
}

.cabecalho__contatos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contato__link {
  display: flex;
  align-items: center;
}

.contato__logo {
  width: 40px;
  height: 40px;
}

.contato__texto {
  display: none;
}

.menu--efeito-glass {
  background: rgba(21, 20, 20, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

/* Versão Tablet (768px) */
@media screen and (min-width: 768px) {

  .cabecalho {
    justify-content: space-around;
  }

  .menu-hamburguer--abrir {
    display: none;
  }

  .lista__menu {
    display: flex;
    margin: 0;
  }

  .lista__link {
    color: var(--laranja);
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
  }
}

/* Versão Desktop (1024px) */
@media screen and (min-width: 1024px) {

  .contato__link:hover {
    opacity: .8;
  }

  .contato__texto {
    display: block;
    color: var(--laranja);
    padding: .5rem;
  }

  .lista__link:hover {
    background-color: var(--bgc-secao);
    border-radius: 8px;
  }
}