/* Personalização dos cards projetos */

.projetos {
  padding-top: 1rem;
}

.link__projeto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projeto__div {
  background-color: var(--branco-escuro);
}

.projeto__link {
  color: var(--fundo);
}