/* Personalização dos cards publicações */
.publicacoes {
  background-color: var(--branco-escuro);
  color: var(--branco);
  padding: 1rem 0;
}

.publicacao__div {
  background-color: var(--fundo);
}

.publicacao__link {
  display: block;
  color: var(--branco)
}