.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.container__img {
  width: 130px;
  height: 140px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.container__img-desktop {
  display: none;
}

.sobre__avatar {
  width: 120px;
  position: relative;
}

.animationAvatar {
  animation: avatarMobile 3s ease;
}

@keyframes avatarMobile {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}

.sobre__dev {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sobre__saudacao {
  font-size: 1.5rem;
  color: var(--branco);
  margin: 1rem 0 .5rem 0;
}

.sobre__nome {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: var(--laranja);
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  border-right: 2px solid var(--branco);
  padding-right: 2px;
}

.animationNome {
  animation: piscar normal infinite .8s, escrever normal 2s steps(15) both;
}

@keyframes escrever {
  100% {
    max-width: 100%;
  }
}

@keyframes piscar {
  100% {
    border-right-color: transparent;
  }
}

.sobre__profissao {
  color: var(--branco);
  font-weight: 500;
  margin: .5rem 0 1rem 0;
}

.btn__sobre {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
}

.sobre__link,
.sobre__curriculo {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--laranja);
  background-color: var(--fundo);
  border: 1px solid var(--laranja);
  border-radius: 8px;
  padding: .8rem 0;
  width: 100px;
  cursor: pointer;
}

.sobre__apresentacao--popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(21, 20, 20, 0.95);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  z-index: 4;
}


.sobre__apresentacao {
  font-size: 1rem;
  color: var(--branco);
  text-align: justify;
  line-height: 1.2rem;
  max-width: 800px;
  margin: 1rem
}

.sobre__apresentacao h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.sobre__apresentacao a {
  color: var(--laranja);
  text-decoration: underline;
}

.sobre__video {
  width: 100%;
  height: 250px;
}

.btn-sobre--fechar {
  color: var(--branco);
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  margin: 1rem 0 1rem 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/* Versão Tablet (768px) */
@media screen and (min-width: 768px) {

  .sobre__link {
    margin: 0;
  }

  .sobre__video {
    height: 350px;
  }
}

/* Versão Desktop (1024px) */
@media screen and (min-width: 1024px) {

  .sobre {
    display: grid;
    grid-template:
      'secao secao secao'
      'avatar apresentacao video'
      / 160px 250px minmax(400px, 600px);
    gap: 1rem;
    margin: 0 2rem;
    justify-content: center;
  }

  .titulo-desktop {
    grid-area: secao;
  }

  .container__img {
    display: none;
  }

  .container__img-desktop {
    display: block;
    grid-area: avatar;
    overflow: hidden;
    text-align: end;
    max-width: 150px;
  }

  .sobre__avatar-desktop {
    width: 150px;
    height: auto;
    position: relative;
  }

  .animationAvatar-desktop {
    animation: avatarDesktop 3s ease
  }

  @keyframes avatarDesktop {
    from {
      right: -100%;
    }
    to {
      right: 0%;
    }
  }

  .sobre__dev {
    grid-area: apresentacao;
    align-items: start;
  }

  .sobre__btn--efeito:hover {
    box-shadow: 0px 0px 5px 0px var(--laranja);
  }

  .btn-sobre--fechar:hover {
    color: var(--laranja);
    border-color: var(--laranja);
  }

  .sobre__video {
    grid-area: video;
    max-width: 600px;
    height: 300px;
  }

  .sobre__apresentacao h2 {
    font-size: 2rem;
  }
}