@import url(../css/header.css);
@import url(../css/sobre.css);
@import url(../css/habilidades.css);
@import url(../css/cards.css);
@import url(../css/projetos.css);
@import url(../css/publicacoes.css);
@import url(../css/carrosel.css);
@import url(../css/footer.css);


:root {
  --fundo: #37383b;
  --laranja: #ffbd59;
  --branco: #ffffff;
  --preto: #000000;
  --vermelho: #bc1823;
  --branco-escuro: #fbfdfe;
  --sombra: #212121;
  --bgc-secao: #424242;

  --fonte: 'Open San', sans-serif;
}

body {
  background-color: var(--fundo);
  font-family: var(--fonte);
}
 
.posicao {
  color: transparent;
  margin-bottom: 4rem;
}

.secao__titulo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--branco);
  margin-bottom: 2rem;
  text-align: center;
}